@page
@model HospiEnCasa.App.Presentacion.Pages_BDMedicos.JovenesAsignadosModel
@{
}

<form method="get">
    <div class="form-actions no-color">
        <p>
            Id Medico :  <input type="text" name="GetFilter" asp-for="GetFilter"/>
                        <input type="submit" value="Filter" class="btn btn-default" /> |
                        <a asp-action="./Index">Back to Full List</a>
        </p>
    </div>
</form>


<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Telefono</th>
            <th scope="col">Documento</th>
            <th scope="col">Genero</th>
            <th scope="col">Patron de Crecimiento</th>
        </tr>
    </thead>
    @foreach (var joven in Model.Jovenes)
    {
        <tbody>
            <tr>
                <td>@joven.Nombre</td>
                <td>@joven.Apellido</td>
                <td>@joven.Telefono</td>
                <td>@joven.Documento</td>
                <td>@joven.GeneroId</td>
                <td>
                    <a asp-page="./ListaPatrones" asp-route-id="@joven.Id"><span class="material-icons">description</span></a>
                </td>
            </tr>
        </tbody>
    }
</table>
