@page
@model HogarGestor.App.Presentacion.Pages_Jovenes.DeleteModel
@{
}
<h1>Seguro que desea eliminar el siguiente Joven?</h1>
<div>
    <h4>Joven</h4>
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.joven.Id</dd>
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.joven.Nombre</dd>
        <dt class="col-sm-2">Apellidos</dt>
        <dd class="col-sm-10">@Model.joven.Apellidos</dd>
        <dt class="col-sm-2">Documento</dt>
        <dd class="col-sm-10">@Model.joven.Documento</dd>
        <dt class="col-sm-2">Fecha de Nacimiento</dt>
        <dd class="col-sm-10">@Model.joven.FechaNacimiento</dd>
        <dt class="col-sm-2">Genero</dt>
        <dd class="col-sm-10">@Model.joven.Genero</dd>
        <dt class="col-sm-2">Telefono</dt>
        <dd class="col-sm-10">@Model.joven.NumeroTelefono</dd>
        <dt class="col-sm-2">Direccion</dt>
        <dd class="col-sm-10">@Model.joven.Direccion</dd>
    </dl>
</div>

<form method="post">
    <input type="hidden" asp-for="joven.Id">
    <button type="submit" class="btn btn-primary" asp-page-handler="Delete">Eliminar Joven</button>
    <a asp-page="./index">Back to List</a>
</form>