@page
@model HospiEnCasa.App.Presentacion.Pages_BDFamiliares.JovenAsignadoModel
@{
}

<form method="get">
    <div class="form-actions no-color">
        <p>
            Id Familiar :  <input type="text" name="GetFilter" asp-for="GetFilter"/>
            <input type="submit" value="Filter" class="btn btn-default" />
                        
        </p>
    </div>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Telefono</th>
            <th scope="col">Documento</th>
            <th scope="col">Genero</th>
            <th scope="col">Patron de Crecimiento</th>
        </tr>
    </thead>
    @foreach (var joven in Model.Jovenes)
    {
        <tbody>
        
            <tr>
                <td>@joven.Nombre</td>
                <td>@joven.Apellido</td>
                <td>@joven.Telefono</td>
                <td>@joven.Documento</td>
                <td>@joven.GeneroId</td>
                <td> 
                    <a asp-page = "./AddPatronesCrecimiento" asp-route-id = "@joven.Id" title="Ver Detalles" style="text-decoration: none">
                       <span class="material-icons">add_task</span>
                    </a>                      
                </td>
            </tr>
        
        </tbody>
    }
</table>
<div>
    <a type="button" class="btn btn-secondary btn-lg" asp-page="./index">Regresar</a>
</div>

