@page
@model HogarGestor.App.Presentacion.Pages_BDJovenes.DetailsModel
@{
}
<h1>Detalles</h1>
<div>
    <h4>Joven</h4>
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.joven.Nombre</dd>
        <dt class="col-sm-2">Apellidos</dt>
        <dd class="col-sm-10">@Model.joven.Apellidos</dd>
        <dt class="col-sm-2">Documento</dt>
        <dd class="col-sm-10">@Model.joven.Documento</dd>
        <dt class="col-sm-2">Fecha de Nacimiento</dt>
        <dd class="col-sm-10">@Model.joven.FechaNacimiento</dd>
        <dt class="col-sm-2">Genero</dt>
        <dd class="col-sm-10">@Model.joven.Genero</dd>
        <dt class="col-sm-2">Telefono</dt>
        <dd class="col-sm-10">@Model.joven.NumeroTelefono</dd>
        <dt class="col-sm-2">Direccion</dt>
        <dd class="col-sm-10">@Model.joven.Direccion</dd>
        <dt class="col-sm-2">Pediatra</dt>
        <dd class="col-sm-10">@(Model.joven.Pediatra.Nombre + " " + Model.joven.Pediatra.Apellidos)</dd>
    </dl>
</div>