@page
@model HospiEnCasa.App.Presentacion.Pages_BDJovenes.IndexModel
@{
}

<h2>Index</h2>

<p>
    <a asp-page="./Create">Create New</a>
</p>


<form asp-action="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Documento:  <input type="text" name="GetFilter" asp-for="GetFilter"/>
                        <input type="submit" value="Filtrar" class="btn btn-default" /> |
                        <a asp-action="./Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Telefono</th>
            <th scope="col">Documento</th>
            <th scope="col">Genero</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    @foreach (var joven in Model.Jovenes)
    {
        <tbody>
            <tr>
                <td>@joven.Nombre</td>
                <td>@joven.Apellido</td>
                <td>@joven.Telefono</td>
                <td>@joven.Documento</td>
                <td>@joven.GeneroId</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@joven.Id"><span class="material-icons">edit</span></a>
                    <a asp-page="./Delete" asp-route-id="@joven.Id"><span class="material-icons">delete</span></a>
                    <a asp-page="./Details" asp-route-id="@joven.Id"><span class="material-icons">description</span></a>
                    
                    <a asp-page = "./ToAssignPediatras" asp-route-id = "@joven.Id" title="Asignar Pediatra" style="text-decoration: none">
                        <span class="material-icons">medical_services</span>
                    </a>

                    <a asp-page = "./ToAssignNutricionista" asp-route-id = "@joven.Id" title="Asignar Nutricionista" style="text-decoration: none">
                        <span class="material-icons">restaurant</span>
                    </a>

                    <a asp-page = "./ToAssignFamiliar" asp-route-id = "@joven.Id" title="Asignar Familiar" style="text-decoration: none">
                        <span class="material-icons">diversity_1</span>
                    </a>
                </td>
            </tr>
        </tbody>
    }

    <span class="material-icons-outlined">
medication
</span>
</table>
