@page
@model HogarGestor.App.Presentacion.Pages_BDJovenes.IndexModel
@{
}
<h1>Lista De Jovenes</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Documento</th>
            <th scope="col">Genero</th>
            <th scope="col">Opciones <a asp-page="./Create" title="Agregar Joven">
            <span class="material-icons" style="color: rgb(155, 155, 155);">group_add</span></a></th>
        </tr>
    </thead>
    @foreach (var joven in Model.Jovenes)
    {
        <tbody>
        
            <tr>
                
                <td>@joven.Nombre</td>
                <td>@joven.Apellidos</td>
                <td>@joven.Documento</td>
                <td>@joven.Genero</td>
                <td>
                    
                    <a asp-page = ".\Delete" asp-route-id = "@joven.Id" title="Borrar" style="text-decoration: none">
                        <span class="material-icons" style="color: white; text-decoration-line: none">  delete  </span>
                    </a>
                    
                    <a asp-page = ".\Details" asp-route-id = "@joven.Id" title="Ver Detalles" style="text-decoration: none">
                        <span class="material-icons" style="color: white; text-decoration-line: none">  description  </span>
                    </a>
                    
                    <a asp-page = ".\Edit" asp-route-id = "@joven.Id" title="Editar" style="text-decoration: none">
                        <span class="material-icons" style="color: white; text-decoration-line: none">  mode_edit  </span>
                    </a>
                    
                    <a asp-page = ".\ToAssignPediatra" asp-route-id = "@joven.Id" title="Asignar Pediatra" style="text-decoration: none">
                        <span class="material-icons" style="color: white; text-decoration-line: none">  medical_services  </span>
                    </a>
                    
                    <a asp-page = ".\ToAssignNutricionista" asp-route-id = "@joven.Id" title="Asignar Nutricionista" style="text-decoration: none">
                        <span class="material-icons" style="color: white; text-decoration-line: none">  restaurant  </span>
                    </a>
                    
                    <a asp-page = ".\ToAssignFamiliar" asp-route-id = "@joven.Id" title="Asignar Familiar" style="text-decoration: none">
                        <span class="material-icons" style="color: white;">  family_restroom  </span>
                    </a>
                    
                    
                </td>
                
            </tr>
        
        </tbody>
    }
</table>